.App {
  text-align: center;
  /* margin: 0 5%;
  max-width: 90%; */
  background: linear-gradient(to right, #302b63, slategray, #302b63);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
